<div class="header bg-gradient-info pb-8 pt-5 pt-md-5"></div>

<!-- Contenuto della pagina -->
<div class="container-fluid mt--7" id="stampare">
    <div class="row">
       <div class="col">
            <div class="card shadow">
                <!-- Header -->
                <div class="card-header bg-transparent">
                    <h2 class="mb-0">Dettagli Etichetta</h2>
                </div>
				<!-- Contenuto: Label Info -->
                <div class="card-body table-responsive">
                   <table class="display table align-items-center table-flush">
                       <thead>
                           <tr>
                                <th>Label ID</th>
                                <th>Power Status</th>
                                <th>Connection Status</th>
                                <th>Updated At</th>
                                <th>Type</th>
                                <th>Access Point ID</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                                <td>{{ info$.LabelId }}</td>
                                <td>{{ info$.PowerStatus }}</td>
                                <td>{{ info$.ConnectionStatus }}</td>
                                <td>{{ info$.UpdatedAt }}</td>
                                <td>{{ info$.Type }}</td>
                                <td>{{ info$.AccessPointId }}</td>
                           </tr>
                       </tbody>
                   </table>
                </div>
                <!-- Header -->
                <div class="card-header bg-transparent">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0">Matches Associati</h3>
                        </div>

                        <!-- Preview Etichetta Attiva -->
                        <div class="col text-center">
                            <div *ngIf="showPrev">
                                <i class='fa fa-2x fa-picture-o'></i> <img style='max-width: 100%;max-height: 80%;' src='data:image/png;base64,{{ prev }}'/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contenuto: Matchs -->
                <div class="card-body table-responsive">
                    <table class="display table align-items-center table-flush">
                        <thead>
                            <tr>
                                 <th>Template Name</th>
                                 <th>Label ID</th>
                                 <th>Items</th>
                                 <th>Is Active</th>
                                 <th>Bypass Promo</th>
                                 <th>Match e Immagini</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let match of matchs$">
                                 <td>{{ match.template_name }}</td>
                                 <td>{{ match.label_id }}</td>
                                 <td>{{ match.items }}</td>
                                 <td>{{ match.is_active }}</td>
                                 <td>{{ match.bypass_promo }}</td>
                                 <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Tools">
                                        <button type="button" class="btn btn-secondary" (click)="openPreview(match.id)">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="open()">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                 </td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
                <div class="card-body">
                    <!-- Bottone Annulla -->
                    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="goBack()">Torna Indietro</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- api/matching/label/"label_id" -->

<!-- api/labelinfo/label/"label_id" -->