<div class="header bg-gradient-info pb-8 pt-5 pt-md-5"></div>

<!-- Contenuto della pagina -->
<div class="container-fluid mt--7">
    <div class="row">
       <div class="col">
            <div class="card shadow">
                <!-- Header -->
                <div class="card-header bg-transparent">
                    <h2 class="mb-0">Dettagli Etichetta</h2>
                </div>
				<!-- Contenuto -->
                <div class="card-body table-responsive">
                   <table class="display table align-items-center table-flush">
                       <thead>
                           <th>Field 1</th>
                           <td>Field 2</td>
                           <td>Field 3</td>
                           <td>Field 4</td>
                       </thead>
                   </table>
                </div>
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Matches Associati</h3>
                </div>
                <div class="card-body">
                    <!-- Bottone Annulla -->
                    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="goBack()">Torna Indietro</button>
                </div>
            </div>
        </div>
    </div>
</div>
