<div class="header bg-gradient-info pb-8 pt-5 pt-md-5"></div>

<!-- Contenuto della pagina -->
<div class="container-fluid mt--7" id="stampare">
    <div class="row">
       <div class="col">
            <div class="card shadow">
                <!-- Header -->
                <div class="card-header bg-transparent">
                    <h2 class="mb-0">Dettagli Articolo {{ valori$.ArticoloDes }}</h2>
                </div>
                <!-- Contenuto -->
                <form (ngSubmit)="updateItem()">
                    <div class="card-body">
                        <div *ngFor="let par of parametri$" class="form-group">
                            <label for="{{ valori$[par] }}">
                                {{ par }}
                            </label>
                            <br>
                            <input class="form-control form-control-alternative" #{{par}} id="{{ par }}" type="text" value="{{ valori$[par] }}">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>
                    </div>
                </form>
                <!--
                    paramtri$[index] - -> valori$[index]
                    NomeCampo - -> valore attuale (ovvero modificato)
                -->

                <!-- Header -->
                <div class="card-header bg-transparent">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0">Matches Associati</h3>
                        </div>

                        <!-- Preview Etichetta Attiva -->
                        <div class="col text-right">
                            <div *ngIf="showPrev">
                                <i class='fa fa-2x fa-picture-o'></i> <img style='max-width: 100%; max-height: 80%;' src='data:image/png;base64,{{ prev }}'/>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Contenuto: Matchs -->
                    <div class="card-body table-responsive">
                        <table class="display table align-items-center table-flush">
                            <thead>
                                <tr>
                                     <th>Template Name</th>
                                     <th>Label ID</th>
                                     <th>Items</th>
                                     <th>Is Active</th>
                                     <th>Bypass Promo</th>
                                     <th>Match e Immagini</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let match of matchs$">
                                     <td>{{ match.template_name }}</td>
                                     <td>{{ match.label_id }}</td>
                                     <td>{{ match.items }}</td>
                                     <td>
                                        <div *ngIf="match.is_active == true; else elseBlockActive"><span class="badge badge-success">SI</span></div>
                                        <ng-template #elseBlockActive>
                                            <span class="badge badge-danger">NO</span>&nbsp;
                                            <button class="btn btn-success btn-sm" (click)="activateLabel(match.id)" [disabled]="true">
                                                Attiva
                                            </button>
                                        </ng-template>
                                    </td>
                                     <td>
                                        <div *ngIf="match.bypass_promo == true; else elseBlock"><span class="badge badge-success">SI</span></div>
                                        <ng-template #elseBlock><span class="badge badge-danger">NO</span></ng-template>
                                    </td>
                                     <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Tools">
                                            <button type="button" class="btn btn-secondary" (click)="openPreview(match.id)">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger" (click)="open()">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                <!-- Bottoni -->
                <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="goBack()">Annulla</button>
                </div>
            </div>
        </div>
    </div>
</div>
