<div class="header bg-gradient-info pb-8 pt-5 pt-md-5"></div>
<!-- Contenuto della pagina -->
<div class="container-fluid mt--7" id="stampare">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- Header -->
        <div class="card-header bg-transparent">
          <h2 i18n class="mb-0">Crea un nuovo articolo</h2>
        </div>
        <!-- Contenuto -->
        <form (ngSubmit)="addItem()">
          <div class="card-body">
            <div *ngFor="let label of label$" class="form-group">
              <label for="{{ label$[label] }}">
              {{ label.name }}
              </label>
              <br>
              <input class="form-control form-control-alternative" id="{{ label.name }}" type="text" value="">
            </div>
            <button i18n type="submit" class="btn btn-primary btn-lg btn-block">Crea</button>
            <br>
            <button i18n type="button" class="btn btn-secondary btn-lg btn-block" (click)="goBack()">Annulla</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>