<div class="header bg-gradient-info pb-8 pt-5 pt-md-5"></div>

<!-- Contenuto della pagina -->
<div class="container-fluid mt--7">
    <div class="row">
       <div class="col">
            <div class="card shadow">
                <!-- Header -->
                <div class="card-header bg-transparent">
                    <h2 class="mb-0">Lista Etichette</h2>
                    <!-- Registra Etichetta -->
                    <div class="text-right">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
								<i class="fas fa-caret-down"></i> Registra Etichetta
							</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Manualmente</button>
                                <button ngbDropdownItem>Da file</button>
                            </div>
                        </div>
                    </div>
                </div>
				<!-- Contenuto -->
                <div class="card-body">
                    <!-- Tabella Etichette -->
                    <div class="table-responsive">
                        <table class="display table table-striped align-items-center table-flush" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID Etichetta</th>
                                    <th scope="col">Tipo</th>
									<th scope="col">Power Status</th>
									<th scope="col">Connection Status</th>
                                    <th scope="col">Data Revisione</th>
                                    <th scope="col">ID Access Point</th>
                                    <th></th>
                                </tr>
                             </thead>
                            <tbody>
                                <tr *ngFor="let label of labels$">
                                    <th>{{ label.LabelId }}</th>
                                    <td>{{ label.Type }}</td>
                                    <td class="alert alert-success" *ngIf=" label.PowerStatus > 20; else elseBlock">
										{{ label.PowerStatus }}
									</td>
									<ng-template #elseBlock>
										<td class="alert alert-warning">
											{{ label.PowerStatus }}
										</td>
									</ng-template>	
									<td>
											<i class="fas fa-power-off"></i>
											<strong> {{ label.ConnectionStatus }}</strong>
									</td>						
                                    <td>{{ label.UpdatedAt }}</td>
                                    <td>{{ label.AccessPointId }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Tools">
											<button type="button" class="btn btn-secondary">
												<i class="fas fa-eye"></i>
											</button>
											<button type="button" class="btn btn-secondary">
												<i class="fas fa-unlink"></i>
											</button>
											<button type="button" class="btn btn-danger">
												<i class="fas fa-trash"></i>
											</button>
										</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>